<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex00 : Markdown Cheatsheet</title>
</head>
<body style="text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: antiquewhite;">
    <h1 style="background-color: black; color: white;">Ex00 : Markdown Cheatsheet</h1>
    <h2 style="background-color: black; color: white;">Headers</h2>
    <ul style="display: table; margin: 0 auto;">
        <li># This is an h1 tag </li>
        <li>## This is an h2 tag </li>
        <li>...</li>
        <li>###### This is an h6 tag</li> 
    </ul>
    <h2 style="background-color: black; color: white;">Images</h2>
    <p>![GitHub Logo](/images/logo.png)</p>
    <p>Format: ![Alt Text](url)</p>
    <h2 style="background-color: black; color: white;">Emphasis</h2>
    <ul style="display: table; margin: 0 auto;">
        <li>*This text will be italic*</li>
        <li>_This will also be italic_</li>
        <li>**This text will be bold**</li>
        <li>__This will also be bold__</li>
        <li>*You **can** combine them*</li>
    </ul>
    <h2 style="background-color: black; color: white;">Tables</h2>
    <p>You can create tables by assembling</p>
    <p> a list of words and dividing them</p>
    <p>with hyphens - (for the first row),</p>
    <p>and then separating each column</p>
    <p>with a pipe | :</p>
    <h2 style="background-color: black; color: white;">TASK LISTS</h2>
        <ul style="display: table; margin: 0 auto;">
            <li>[x] this is a complete item</li>
            <li>[ ] this is an incomplete item</li>
            <li>[x] @mentions, #refs, [links](),</li>
            <li>**formatting**, and 'del' tags 'del' supported</li>
            <li>[x] list syntax required <br>(anyunordered or ordered listsupported)</li>
        </ul>
    <br>
    <h2 style="background-color: black; color: white;">FENCED CODE BLOCKS</h2>
    <p>Markdown coverts text with four leading spaces into a code block; with GFM you can<br>
        wrap your code with ``` to create a code block without the leading spaces. Add an<br>
        optional language identifier and your code will get syntax highlighting.
    </p>
    <h2 style="background-color: black; color: white;">BLOCKQUOTES</h2>
    <p>
        As Grace Hopper<br>
        > I’ve always been more interested<br>
        > in the future than in the past.<br>
    </p>
</body>
</html>